body{
    background-color: #E5E5E5;
}
.box{
    width: 930px;
    height: 630px;
	position: relative;
}
.itxt{
    position: absolute;
    width: 577px;
    height: 148px;
    left: 240px;
    top: 130px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #E5E5E5;
    border:none;
    outline: none;
    color: #0A3871;
}
.itxt:active{
    border:none;
}
p{
    position: absolute;
    left: 240px;
    top: 480px;
    width: 205px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.btnC{
    position: absolute;
    left: 240px;
    top: 520px;
    width: 228px;
    height: 57px;
    color: #D8DFE8;
    font-size: 21px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    
}
.btnD{
    position: absolute;
    left: 520px;
    top: 520px;
    width: 228px;
    height: 57px;
    color: #0A3871;
    font-size: 21px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    
}
.childB{
    position: absolute;
    width: 300px;
    height: 540px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.otxt{
    position: absolute;
    width: 280px;
    height: 170px;
    margin: 65px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border:none;
    outline: none;
    color: #0A3871;
}