body{
    background-color: #E5E5E5;
}
.box{
    width: 930px;
    height: 630px;
	position: relative;
}
#itxt{
    position: relative;
    width: 577px;
    height: 148px;
    left: 240px;
    top: 130px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #E5E5E5;
    border:none;
    outline: none;
    color: #0A3871;
    resize: none;
}
.itxt:active{
    border:none;
}
p{
    position: absolute;
    left: 260px;
    top: 480px;
    width: 205px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.btnC{
    position: absolute;
    left: 240px;
    top: 520px;
    width: 228px;
    height: 57px;
    color: #D8DFE8;
    font-size: 21px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    
}
.btnD{
    position: absolute;
    left: 520px;
    top: 520px;
    width: 228px;
    height: 57px;
    color: #0A3871;
    font-size: 21px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    
}
.box2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 580px;
    left: 900px;
    top: -100px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#otxt{
    position: absolute;
    width: 280px;
    height: 450px;
    margin: 15px 10px;
    text-align: justifys;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border:none;
    outline: none;
    color: #495057;
    resize: none;
}
.copy{
    position: absolute;    
    width: 150px;
    height: 57px;
    top: 500px;
    width: 228px;    
    color: #0A3871;
    font-size: 21px;
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
}
.copy::after{
    content: "¡Texto copiado!";
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    width: 90px;
    border-radius: 15%;
    color:#FFFFFF;
    background-color: #495057;
    opacity: 0;
}
.copy:active::after{
    animation: aparecer 0.4s ease;
}
@keyframes aparecer{
    0%{
        opacity: 0.25;
        top: 30%;
    }
    50%{
        opacity: 0.5;
        top: 20%;
    }
    75%{
        opacity: 0.7;
        top: 10%;
    }
    100%{
        opacity: 1;
        top: 5%;
    }
}